.App {
  text-align: center;
  background-color: #eff1f5;
}

.container
{
    background-color: #eff1f5;
    color: #4c4f69
}

.homePgHeader{
    justify-content: center;
    background-color: #dce0e8;
    display: flex;
}
.homePgheaderBody{
    display: flex;
    justify-content: center;
}
.textContainer{
    width: 225px;
    display: flex;
    justify-content: center;
    margin:auto;
}
.spacer{
    height: 2px;
}
.wideTextContainer{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.quizButton{
    background-color: #ccd0da;
    color: black;
    padding: 6px 16px;
    border-radius: 5px;
    margin-left: 5px;
    border: 15px;
}
.homePgHeaderButtons{
    background-color: #bcc0cc;
    color: Black;
    border: none;
    padding: 3px 16px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    font-size: medium;
    height: 80%;
} 
/*Container class for the buttons and the blurbs below them, so that they are side by side*/
.promptContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin: auto;
    justify-content: center;
}

.ShortQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd0da;
    color: black;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
}

.dark-mode .App{
    background-color: #1e1e2e;
    color: #cdd6f4
}

.dark-mode .quizButton{
    background-color: #151515;
    color: white;
    border-color: #000000;
}

.dark-mode .container {
    background-color: #1e1e2e;
}

.dark-mode .homePgHeader {
    background-color: #313244;
}

.dark-mode .homePgHeaderButtons {
    background-color: #151515;
    color: white;
}

.dark-mode {
  background-color: #1e1e2e;
}