.App {
  text-align: center;
  background-color: #eff1f5;
}

.container
{
    background-color: #eff1f5;
    color: #4c4f69;
    padding-right: var(--bs-gutter-x, .01rem);
    padding-left:  var(--bs-gutter-x, .01rem);
    margin-left: auto;
    margin-right: auto;
}

.buttonAndTextContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    justify-content: left;
}

.homePgHeader{
    justify-content: center;
    background-color: #dce0e8;
    display: flex;
}
.homePgheaderBody{
    display: flex;
    justify-content: center;
}
.imageLineupContainer img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.imageLineupContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10%;
}
.largeTextContainer{
    text-align: left;
    font-size: calc(2.325rem + .9vw);
    font-weight: 500;
    line-height: 1.2;
    color: #4c4f69;
    width: 75%;
}
.descriptionTextContainer{
    text-align: left;
    width: 100%;
    color: #4c4f69;
}
.textContainer{
    width: 75%;
    display: flex;
    justify-content: left;
    text-align: left;
}
.spacer{
    height: 2px;
}
.wideTextContainer{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.quizButton{
    background-color: #ccd0da;
    color: black;
    padding: 6px 16px;
    border-radius: 5px;
    margin-left: 5px;
    border: 15px;
}
.homePgHeaderButtons{
    background-color: #bcc0cc;
    color: Black;
    border: none;
    padding: 3px 16px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    font-size: medium;
    height: 80%;
} 
/*Container class for the buttons and the blurbs below them, so that they are side by side*/
.promptContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
    margin: auto;
    justify-content: center;
}

.ShortQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccd0da;
    color: black;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
}

/*Dark Mode Traits*/

.dark-mode .descriptionTextContainer{
    text-align: left;
    width: 50%;
    color: #cdd6f4;
}

.dark-mode .largeTextContainer{
    text-align: left;
    font-size: calc(2.325rem + .9vw);
    font-weight: 500;
    line-height: 1.2;
    color: #cdd6f4;
}

.dark-mode .App{
    background-color: #1e1e2e;
    color: #cdd6f4
}

.dark-mode .quizButton{
    background-color: #313244;
    color: white;
    border-color: #000000;
}

.dark-mode .container {
    background-color: #1e1e2e;
}

.dark-mode .homePgHeader {
    background-color: #313244;
}

.dark-mode .homePgHeaderButtons {
    background-color: #181825;
    color: white;
}

.dark-mode .ShortQuiz {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313244;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0 auto;
    border: none;
}

.dark-mode {
  background-color: #1e1e2e;
}