body{
    background-color: #121212;
    color: #ffffff;
}
.header{
    justify-content: center; /* Ensures buttons and counter span the header */
    padding: 10px;
    background-color: #252525;
    display: flex;

}
.headerBody{
    display: flex;
    justify-content: center;
}
.textContainer{
    width: 175px;
    display: flex;
    justify-content: center;
    margin:auto;
}
.wideTextContainer{
    width: 500px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.quizButton,
.homeButton,
  .saveButton,
  .helpButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
  }

.promptContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    margin: auto;
    justify-content: center;

}