body{
    background-color: #121212;
    color: #ffffff;
}
.header{
    justify-content: space-between; /* Ensures buttons and counter span the header */
    align-items: center;
    padding: 10px;
    background-color: #252525;
    display: flex;
    align-items: center
}
.headerBody{
    display: flex;
    align-items: center;
}
.quizButton,
.homeButton,
  .saveButton,
  .helpButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
  }
